* {
    border: 1px solid rgb(116, 113, 113);
}

.main_container {
    min-width: 500px;
    width: 500px;
    min-height: 500px;
    height: 100%;
    margin: auto;
    margin-top: 150px;
    font-family: monospace;
}

.row {
    display: flex;
    min-height: 100px;
}

.row.display {
    justify-content: right;
}

.clear {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 124px;
    height: 100px;
    text-align: center;
    font-size: 26px;
}

.clear:hover {
    font-size: 38px;
}

.input {
    flex: 1;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input:hover {
    font-size: 45px;
}

#equals {
    flex: 2;
}